<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bundle identifier</key>
	<string>net.hardison.mdcopy</string>
	<key>Bundle name</key>
	<string>mdcopy</string>
	<key>Bundle versions string, short</key>
	<string>1</string>
</dict>
</plist>
